:root {
	--color1: hsla(0, 100%, 90%, 0.333);
	--color2: hsla(0, 100%, 70%, 0.3);
	--color3: #ff073a;
	--shadow-radius: 5px;
}


/* Slots */
.perksSlots {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.mainAddonSlots {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.addonsSlots {
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* margin: 50px; */
	/* margin-left: 50px;
	margin-right: -120px; */
}

.mainItemSlots {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.itemSlots {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.perkSlot,
.addonSlot {
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	margin-bottom: 80px;
	padding: top right bottom left;
	border: 1px solid white;
	position: relative;
	border-radius: 25px;
	box-shadow: 0 0 10px var(--shadow-radius) var(--color1), 0 0 40px var(--shadow-radius) var(--color1), 0 0 80px var(--shadow-radius) var(--color1);
	align-items: center;
}

.addonSlot img {
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	width: 100px;
	height: 100px;
}

.perkSlot button {
	background: url('/static/images/clearbtn.png');
	cursor: pointer;
	border: none;
}

.addonSlot button {
	background: url('/static/images/clearbtn.png');
	cursor: pointer;
	border: none;
}

#itemSlotMain {
	float: left;
	width: 150px;
	height: 150px;
	margin: 10px;
	margin-bottom: 80px;
	padding: top right bottom left;
	border: 1px solid white;
	position: relative;
	border-radius: 25px;
	box-shadow: 0 0 10px var(--shadow-radius) var(--color1), 0 0 40px var(--shadow-radius) var(--color1), 0 0 80px var(--shadow-radius) var(--color1);
	align-items: center;
}

#itemSlotMain img {
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	width: 150px;
	height: 150px;
}

.tempSlot {
	opacity: 0;
	max-height: 0;
	transition: max-height 1s, opacity 1s;
}

.fade {
	opacity: 1;
	max-height: 150px;
	/* max-width: 180px; */
}

.addon-image {
	position: relative;
	z-index: 1;
	width: 80px;
	height: 80px;
}

.clear-img {
	position: absolute;
	z-index: 2;
	top: -12px;
	left: 90px;
}

.clear-img-item {
	position: absolute;
	z-index: 2;
	top: -12px;
	left: 140px;
}

/* Tabs */
.tab {
	overflow: visible;
	/* border: 1px solid #ccc; */
	/* background-color: #f1f1f1; */
	background-color: transparent;
	list-style-type: none;
	height: 60px;
	width: max-content;
}

.tab button {
	background-color: inherit;
	float: left;
	margin-left: 20px;
	border-top: none;
	border-right: none;
	border-width: 5px;
	border-left-width: 3px;
	border-left-style: double;
	border-bottom-style: double;
	outline: none;
	cursor: pointer;
	padding: 14px 10px;
	font-size: 17px;
	color: white;
	border-radius: 20px;
	transform: perspective(1000px) rotateX(0deg) translate(0, 0);
	transition: 0.3s;
}

.tab button:hover {
	border-top: none;
	border-right: none;
	border-width: 10px;
	border-left-width: 6px;
	background-color: hsla(0, 100%, 90%, 0.5);
	transform: perspective(1000px) rotateX(0deg) translate(5px, -10px);
}

.tab button.active {
	background-color: hsla(0, 100%, 70%, 0.3);
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	/* border: 1px solid #ccc; */
	border-top: none;
	animation: fadeEffect 0.5s;
}

/* Addons */
.addonsMain {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-around;
	margin-top: 100px;
}

.addonsContent, .itemsContent {
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: column;
	justify-content: space-evenly;
	/* max-width: 50%; */
	width: 800px;
}

.container-addons, .container-items {
	position: relative;
	display: inline-block;
	pointer-events: none;
}

.container-addons img, .container-items img {
	pointer-events: auto;
	transition: transform .5s ease;
	height: 80px;
	width: 80px;
}

.container-stats {
	width: 60%;
	margin: auto;
	text-align: center;
}

.container-stats button {
	background-color: inherit;
	border: none;
	outline: none;
	border-radius: 25px;
	width: 250px;
	cursor: pointer;
	padding: 20px 20px;
	font-size: 15px;
	color: white;
	position: relative;
	/* background: var(--color1); */
}

.stats:hover {
	box-shadow: 0 0 10px var(--shadow-radius) var(--color1), 0 0 40px var(--shadow-radius) var(--color1), 0 0 80px var(--shadow-radius) var(--color1);
}

.stats-addons {
	display: none;
}

.stats-addon {
	/* color: hsla(0, 69%, 45%, 0.9); */
}

.stats-tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: space-between;
}

.stats-temp {
	/* display: none; */
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
	pointer-events: none;
}

.flex-container>div {
	/* background-color: rgb(121, 167, 51); */
	background-color: transparent;
	width: 18%;
	margin: 5px;
	margin-bottom: 30px;
	text-align: center;
}

/* Perks */
.container-perks {
	position: relative;
	display: inline-block;
	pointer-events: none;
}

.container-perks img {
	pointer-events: auto;
	min-height: 100;
}

.perksContent {
	display: flex;
	flex-wrap: wrap;
}

.perksContent>div {
	background-color: transparent;
	width: 32%;
	margin: 5px;
	text-align: center;
}

.subtab {
	margin-left: -200px;
	/* border: 1px solid #ccc; */
	color: white;
	display: flex;
	/* justify-content: right; */
	flex-direction: column;
	/* background-color: #f1f1f1; */
	background-color: transparent;
	/* list-style-type: none; */
	/* pointer-events: none; */
}

.subtab button {
	background-color: inherit;
	/* float: left; */
	/* border: 1px solid #ccc; */
	border: none;
	outline: none;
	border-radius: 25px;
	width: 250px;
	/* outline: none; */
	cursor: pointer;
	padding: 5px 0px;
	transition: transform .5s ease;
	font-size: 15px;
	color: white;
}

.subtablinks:hover {
	color: var(--color3);
	background: var(--color1);
	box-shadow: 0 0 10px var(--shadow-radius) var(--color1), 0 0 40px var(--shadow-radius) var(--color1), 0 0 80px var(--shadow-radius) var(--color1);
}

.subtab button.active {
	color: var(--color3);
	background: var(--color2);
	box-shadow: 0 0 10px var(--shadow-radius) var(--color2), 0 0 40px var(--shadow-radius) var(--color2), 0 0 80px var(--shadow-radius) var(--color2);
}

.subtablinks {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.subtabcontent {
	display: none;
	padding: 6px 12px;
	/* border: 1px solid #ccc; */
	border-top: none;
	animation: fadeEffect 0.2s;
}

.killerTab {
	display: flex;
}

.itemsTab {
	display: flex;
}

.hidden {
	display: none;
}

.raritySection {
	max-width: 500px;
}

.container-items {
	position: relative;
	display: inline-block;
	pointer-events: none;
}

.container-items img {
	pointer-events: auto;
	transition: transform .5s ease;
	min-height: 80;
}

/* Animations */
@keyframes fadeEffect {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
