{% extends "layout.html" %}
{% block content %}
<ul class="tab">
	<button class="tablinks" onclick="openTab(event, 'Survivor-Perks')" data-tab-open="">Survivor Perks</button>
	<button class="tablinks" onclick="openTab(event, 'Killer-Addons')" data-tab-open="">Killer Addons</button>
	<button class="tablinks" onclick="openTab(event, 'Survivor-Items')" data-tab-open="default">Items</button>

</ul>

<div class="tabcontent" id="Survivor-Perks">
	<!-- <div class="perksSlots"> -->
		<!-- <div class="perkSlot" id="div1" align="center" ondrop="drop(event, 'div1')" ondragover="allowDrop(event)"> -->
			<!-- <input class="clear-img" type="image" onclick="clearSlot('div1')" src="static/images/clearbtn.png" alt="Clear" -->
				<!-- width="20" height="20" align="right"> -->
		<!-- </div> -->
		<!-- <div class="perkSlot" id="div2" align="center" ondrop="drop(event, 'div2')" ondragover="allowDrop(event)"> -->
			<!-- <input class="clear-img" type="image" onclick="clearSlot('div2')" src="static/images/clearbtn.png" alt="Clear" -->
				<!-- width="20" height="20" align="right"> -->
		<!-- </div> -->
		<!-- <div class="perkSlot" id="div3" align="center" ondrop="drop(event, 'div3')" ondragover="allowDrop(event)"> -->
			<!-- <input class="clear-img" type="image" onclick="clearSlot('div3')" src="static/images/clearbtn.png" alt="Clear" -->
				<!-- width="20" height="20" align="right"> -->
		<!-- </div> -->
		<!-- <div class="perkSlot" id="div4" align="center" ondrop="drop(event, 'div4')" ondragover="allowDrop(event)"> -->
			<!-- <input class="clear-img" type="image" onclick="clearSlot('div4')" src="static/images/clearbtn.png" alt="Clear" -->
				<!-- width="20" height="20" align="right"> -->
		<!-- </div> -->
	<!-- </div> -->
	<div class="perksContent">
		{% for key,perk in Perks['Survivor-Perks'].items() %}
		<div class="container-perks">
			<img class="image lozad" draggable="true" ondragstart="drag(event)" id={{ key }} data-src={{ perk.image }}>
			<div class="overlay overlayPerk">
				<div class="overlay-heading">
					<span style="font-size: 20px; font-weight: 600;">{{ perk.name }}</span>
					<span style="font-size: 14px;">{{ perk.teachable }}</span>
				</div>
				<div class="overlay-content">
					<p style="font-size: 15px;">{{ perk.description }}</p>
				</div>
			</div>
			<!-- <a style="font-size: 15px" , href="#">{{ perk.teachable }}</a> -->
		</div>
		{% endfor %}
	</div>
</div>

<div class="tabcontent" id="Killer-Addons">
	<div class="killerTab">
		<ul class="subtab">
			{% for name,info in Killer_Addons.items() %}
			<button class="subtablinks" onclick="openSubTab(event, '{{ name }}', true); clearSlots('{{ name }}')">
				<span>{{ name }}</span>
				<img class="lozad" data-src={{ info['killer-image-alt'] }} height="80" width="80" credit="@sherman_amnezis">
			</button>
			{% endfor %}
		</ul>

		{% for name,info in Killer_Addons.items() %}
		<div class="subtabcontent" id='{{ name }}'>
			<h1 style="color: crimson; font-weight: 600; letter-spacing: 2px;">
				<center>{{ name }}</center>
			</h1>
			<div class="container-stats">
				{% for col,stat in Killers[name].items() %}
				{% if col != 'Additional Effects' %}
				<button class="stats">
					<center>
						<p class="stats-addon">{{ col }}</p>
					</center>
					<div class="stats-tabs">
						<div class="stats-main" id={{ name + '-stats' }}>
							<center>
								<p class="stats-value" value=""
									onclick="calcVal(this, `{{stat['Base-'+name]}}`, `{{stat['Static-'+name]}}`); this.onclick=null;">
								</p>
							</center>
							{% for addon,val in stat.items() %}
							<center>
								<p class="stats-addons" name="{{ addon }}-stat">{{ val }}</p>
							</center>
							{% endfor %}
						</div>
						<div class="stats-temp tempSlot hidden" id={{ name + '-temp-stats' }}>
							<center>
								<p class="stats-value-temp" value=""
									onclick="calcVal(this, `{{stat['Base-'+name]}}`, `{{stat['Static-'+name]}}`); this.onclick=null;">
								</p>
							</center>
							{% for addon,val in stat.items() %}
							<center>
								<p class="stats-addons" name="{{ addon }}-stat-temp">{{ val }}</p>
							</center>
							{% endfor %}
						</div>
					</div>
				</button>
				{% endif %}
				{% endfor %}
			</div>
			<div class="addonsMain">
				<div class="addonsContent">
					{% for rarity,addons in info['addons'].items() %}
					<div class="flex-container">
						{% for addon in addons %}
						<div class="container-addons">
							<img class="addon-image lozad" data-src={{ addon['addon-image-alt'][:-3] + 'jpg' }} draggable="true"
								ondragstart="drag(event)" id={{ addon['addon-id'] }} credit="u/ambieobambie">
							<figcaption>
								<span>{{ addon['addon-name'] }}</span>
							</figcaption>
							<div class="overlay {{ 'overlayAddon' + ''.join(rarity.split()) }}">
								<div class="overlay-heading">
									<span style="font-size: 16px; font-weight: 600;">{{ addon['addon-name'] }}</span>
									<span style="font-size: 13px;">{{ rarity }}</span>
								</div>
								<div class="overlay-content">
									<p style="font-size: 15px;">{{ addon['addon-effect'] }}</p>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
				<div class="mainAddonSlots" id="mainAddonSlots-{{ name }}">
					<div class="addonsSlots" id="addonsSlots-{{ name }}">
						<div class="addonSlot" id="{{ name + '-slot1' }}" align="center"
							ondrop="dropAddon(event, `{{ name + '-slot1' }}`, false)" ondragover="allowDrop(event)">
							<input class="clear-img" type="image" onclick="clearSlot(`{{ name + '-slot1' }}`, false)"
								src="static/images/clearbtn.png" alt="Clear" width="20" height="20" align="right">
						</div>
						<div class="addonSlot" id="{{ name + '-slot2' }}" align="center"
							ondrop="dropAddon(event, `{{ name + '-slot2' }}`, false)" ondragover="allowDrop(event)">
							<input class="clear-img" type="image" onclick="clearSlot(`{{ name + '-slot2' }}`, false)"
								src="static/images/clearbtn.png" alt="Clear" width="20" height="20" align="right">
						</div>
					</div>
					<div class="addonsSlots tempSlot" id="addonsSlots-temp-{{ name }}">
						<div class="addonSlot" id="{{ name + '-temp-slot1' }}" align="center"
							ondrop="dropAddon(event, `{{ name + '-temp-slot1' }}`, true)" ondragover="allowDrop(event)">
							<input class="clear-img" type="image" onclick="clearSlot(`{{ name + '-temp-slot1' }}`, true)"
								src="static/images/clearbtn.png" alt="Clear" width="20" height="20" align="right">
						</div>
						<div class="addonSlot" id="{{ name + '-temp-slot2' }}" align="center"
							ondrop="dropAddon(event, `{{ name + '-temp-slot2' }}`, true)" ondragover="allowDrop(event)">
							<input class="clear-img" type="image" onclick="clearSlot(`{{ name + '-temp-slot2' }}`, true)"
								src="static/images/clearbtn.png" alt="Clear" width="20" height="20" align="right">
						</div>
					</div>
					<div class="moveButton">
						<button class="moveSlots" id="{{ name + '-move' }}" onclick="moveSlot(`{{name}}`)">Compare</button>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="tabcontent" id="Survivor-Items">
	<div class="itemsTab">
		<ul class="subtab">
			{% for name,info in Items.items() %}
			<button class="subtablinks" onclick="openSubTab(event, '{{ name }}', false); clearSlots('{{ name }}')">
				<span>{{ name }}</span>
				<img class="lozad" data-src={{ info['image'] }} height="80" width="80">
			</button>
			{% endfor %}
		</ul>

		{% for name,info in Items.items() %}
		{% if name == 'Med-Kit' or name == 'Toolbox' %}
		<div class="subtabcontent" id='{{ name }}'>
			<div class="itemsContainer">
				<div class="container-stats">
					{% for col,stat in ItemsStats[name].items() %}
					{% if col != 'Additional Effects' %}
					<button class="stats">
						<center>
							<p class="stats-addon">{{ col }}</p>
						</center>
						<div class="stats-tabs">
							<div class="stats-main" id={{ name + '-stats' }}>
								<center>
									<p class="stats-value" value=""
										onclick="calcVal(this, `{{stat['Base-'+name]}}`, `{{stat['Static-'+name]}}`); this.onclick=null;">
									</p>
								</center>
								{% for addon,val in stat.items() %}
								<center>
									<p class="stats-addons" name="{{ addon }}-stat">{{ val }}</p>
								</center>
								{% endfor %}
							</div>
							<div class="stats-temp tempSlot hidden" id={{ name + '-temp-stats' }}>
								<center>
									<p class="stats-value-temp" value=""
										onclick="calcVal(this, `{{stat['Base-'+name]}}`, `{{stat['Static-'+name]}}`); this.onclick=null;">
									</p>
								</center>
								{% for addon,val in stat.items() %}
								<center>
									<p class="stats-addons" name="{{ addon }}-stat-temp">{{ val }}</p>
								</center>
								{% endfor %}
							</div>
						</div>
					</button>
					{% endif %}
					{% endfor %}
				</div>

				<div class="itemsMain">
					{% if name not in ['Map', 'Key', 'Flashlight'] %}
					<div class="mainItemSlots" id="mainAddonSlots-{{ name }}">
						<div class="mainItemSlotsBox">
							<div class="itemsSlots" id="addonsSlots-{{ name }}">
								<div class="itemSlot" id="{{ name + '-slot0' }}" align="center"
									ondrop="dropItem(event, `{{ name + '-slot0' }}`, false)" ondragover="allowDrop(event)">
									<input class="clear-img-item" type="image" onclick="clearSlot(`{{ name + '-slot0' }}`, false)"
										src="static/images/clearbtn.png" alt="Clear" width="20" height="20" align="right">
								</div>
								<div class="smallSlots">
									<div class="addonSlot" id="{{ name + '-slot1' }}" align="center"
										ondrop="dropAddon(event, `{{ name + '-slot1' }}`, false)" ondragover="allowDrop(event)">
										<input class="clear-img" type="image" onclick="clearSlot(`{{ name + '-slot1' }}`, false)"
											src="static/images/clearbtn.png" alt="Clear" width="20" height="20" align="right">
									</div>
									<div class="addonSlot" id="{{ name + '-slot2' }}" align="center"
										ondrop="dropAddon(event, `{{ name + '-slot2' }}`, false)" ondragover="allowDrop(event)">
										<input class="clear-img" type="image" onclick="clearSlot(`{{ name + '-slot2' }}`, false)"
											src="static/images/clearbtn.png" alt="Clear" width="20" height="20" align="right">
									</div>
								</div>
							</div>
							<div class="itemsSlots tempSlot" id="addonsSlots-temp-{{ name }}">
								<div class="itemSlot" id="{{ name + '-temp-slot0' }}" align="center"
									ondrop="dropItem(event, `{{ name + '-temp-slot0' }}`, true)" ondragover="allowDrop(event)">
									<input class="clear-img-item" type="image" onclick="clearSlot(`{{ name + '-temp-slot0' }}`, true)"
										src="static/images/clearbtn.png" alt="Clear" width="20" height="20" align="right">
								</div>
								<div class="smallSlots">
									<div class="addonSlot" id="{{ name + '-temp-slot1' }}" align="center"
										ondrop="dropAddon(event, `{{ name + '-temp-slot1' }}`, true)" ondragover="allowDrop(event)">
										<input class="clear-img" type="image" onclick="clearSlot(`{{ name + '-temp-slot1' }}`, true)"
											src="static/images/clearbtn.png" alt="Clear" width="20" height="20" align="right">
									</div>
									<div class="addonSlot" id="{{ name + '-temp-slot2' }}" align="center"
										ondrop="dropAddon(event, `{{ name + '-temp-slot2' }}`, true)" ondragover="allowDrop(event)">
										<input class="clear-img" type="image" onclick="clearSlot(`{{ name + '-temp-slot2' }}`, true)"
											src="static/images/clearbtn.png" alt="Clear" width="20" height="20" align="right">
									</div>
								</div>
							</div>
						</div>
						<div class="moveButton">
							<button class="moveSlots" id="{{ name + '-move' }}" onclick="moveSlot(`{{name}}`)">Compare</button>
						</div>
					</div>
				</div>
				<div class="itemsAddonsContainer">
					<ul class="subsubtab">
						{% for subname in ['Items', 'Addons'] %}
						<button class="subsubTabLinks" onclick="openSubSubTab(event, '{{ name }}-{{ subname }}Content', false)" data-tab-open="">
							<span>{{ subname }}</span>
							<!-- <img class="lozad" data-src={{ info['image'] }} height="80" width="80"> -->
						</button>
						{% endfor %}
					</ul>
					<div class="itemsMainContent">
						<div class="subsubTabContent" id="{{ name }}-ItemsContent">
							{% for rarity,items in info['versions'].items() %}
							<div class="flex-container">
								{% for item in items %}
								<div class="container-items">
									<img class="item-image lozad" data-src={{ item['image-alt'] }} height="80" width="80" draggable="true"
										ondragstart="drag(event)" id={{ item['item-id'] }} credit="u/ambieobambie">
									<figcaption>
										<span>{{ item['name'] }}</span>
									</figcaption>
									<div class="overlay {{ 'overlayItem' + ''.join(rarity.split()) }}">
										<div class="overlay-heading">
											<span style="font-size: 16px; font-weight: 600;">{{ item['name'] }}</span>
											<span style="font-size: 13px;">{{ rarity }}</span>
										</div>
										<div class="overlay-content">
											<p style="font-size: 15px;">{{ item['description'] }}</p>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							{% endfor %}
						</div>
						<div class="subsubTabContent" id="{{ name }}-AddonsContent">
							{% for rarity,addons in info['addons'].items() %}
							<div class="flex-container">
							{% for addon in addons %}
							<div class="container-addons">
								<img class="addon-image lozad" data-src={{ addon['addon-image-alt'] }} height="80" width="80" draggable="true"
									ondragstart="drag(event)" id={{ addon['addon-id'] }} credit="u/ambieobambie">
								<figcaption>
									<span>{{ addon['addon-name'] }}</span>
								</figcaption>
								<div class="overlay {{ 'overlayAddon' + ''.join(rarity.split()) }}">
									<div class="overlay-heading">
										<span style="font-size: 16px; font-weight: 600;">{{ addon['addon-name'] }}</span>
										<span style="font-size: 13px;">{{ rarity }}</span>
									</div>
									<div class="overlay-content">
										<p style="font-size: 15px;">{{ addon['addon-description'] }}</p>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
<script>
	var elems = document.getElementsByClassName('overlay-content')
	for (i = 0; i < elems.length; i++) {
		elems[i].innerHTML = elems[i].innerHTML.split('\n').slice(1, -1).join('<br>');
	}
</script>
<script>
	const observer = lozad(); // lazy loads elements with default selector as '.lozad'
	observer.observe();
</script>
<script>
	document.querySelector("button[data-tab-open=default]").click()
</script>
<script type="text/javascript">
	$("[class^='container-perks'], [class^='container-addons'], [class^='container-items']").mouseenter(function(){
		var f = $(this).find('.overlay');
		var coords = f[0].getBoundingClientRect()
		var screenWidth = $(window).width();
		var screenHeight = $(window).height();
		if(coords.right > screenWidth && coords.bottom < screenHeight){
			f.addClass("shiftLeft");
			f.removeClass("shiftUp");
		}
		else if(coords.bottom > screenHeight && coords.right < screenWidth){
			f.addClass("shiftUp");
			f.removeClass("shiftLeft")
		}
		else if(coords.bottom > screenHeight && coords.right > screenWidth){
			f.addClass("shiftUp shiftLeft");
		}
		else{
			f.removeClass("shiftUp shiftLeft");
		}
	});
	$("[class^='container-']").mouseleave(function(){
		var f = $(this).find('.overlay');
		f.removeClass("shiftLeft shiftUp");
	})
</script>
{% endblock content %}
