{% extends "layout.html" %}
{% block content %}
<ul class="tab">
	<button class="tablinks" onclick="openTab(event, 'Survivor-Perks')" data-tab-open="">Survivor Perks</button>
	<button class="tablinks" onclick="openTab(event, 'Killer-Perks')" data-tab-open="">Killer Perks</button>
	<button class="tablinks" onclick="openTab(event, 'Killer-Addons')"  data-tab-open="default">Killer Addons</button>
	<button class="tablinks" onclick="openTab(event, 'Items')" data-tab-open="">Items</button>

</ul>

{% for cat, perks in Perks.items() %}
<div class="tabcontent" id={{ cat }}>
	<div class="flex-container">
		{% for key, perk in perks.items() %}
		<div class="container-perks">
			<img class="perk-image lozad" draggable="true" ondragstart="drag(event)" id={{ key }} data-src={{ perk.image }}
				height="100" width="100">
			<img class="back-img lozad" src={{ perk['image_alt'] }} alt="Card Front" height="100" width="100"
				credit="u/LynxRecruit">
			<figcaption>{{ perk.name }}</figcaption>
			<div class="overlay overlayPerk">
				<div class="overlay-heading">
					<span style="font-size: 16px; font-weight: 600;">{{ perk.name }}</span>
					<span style="font-size: 13px;">{{ perk.teachable }}</span>
				</div>
				<div class="overlay-content">
					<p style="font-size: 15px;">{{ perk.description }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endfor %}

<div class="tabcontent" id="Killer-Addons">
	<ul class="subtab">
		{% for name,info in Killer_Addons.items() %}
		<button class="subtablinks" onclick="openSubTab(event, '{{ name }}', true); dimElem(event, 'subtablinks');">
			<img class="lozad" data-src={{ info['killer-image-alt'] }} height="125" width="125" credit="@sherman_amnezis">
			<figcaption>{{ name }}</figcaption>
		</button>
		{% endfor %}
	</ul>
	{% for name,info in Killer_Addons.items() %}
	<div class="subtabcontent" id='{{ name }}'>
		<center>
			<h2>{{ info.power }}</h2>
			<img id="power-image lozad" data-src={{ info['power-image'] }}>
			<p>{{ info['power-description'] }}</p>
		</center>
		{% for rarity,addons in info['addons'].items() %}
		<h3>
			<center>{{ rarity }}</center>
		</h3>
		<div class="flex-container" id={{ rarity }}>
			{% for addon in addons %}
			<div class="container-addons">
				<img class="addon-image lozad" data-src={{ addon['addon-image-alt'][:-3] + 'jpg' }} height="80" width="80"
					credit="u/ambieobambie">
				<figcaption>
					<span>{{ addon['addon-name'] }}</span>
				</figcaption>
				<div class="overlay {{ 'overlayAddon' + ''.join(rarity.split()) }}">
					<div class="overlay-heading">
						<span style="font-size: 16px; font-weight: 600;">{{ addon['addon-name'] }}</span>
						<span style="font-size: 13px;">{{ rarity }}</span>
					</div>
					<div class="overlay-content">
						<p style="font-size: 15px;">{{ addon['addon-effect'] }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
<div class="tabcontent" id="Items">
	<ul class="subtab">
		{% for name,info in Items.items() %}
		<button class="subtablinks" onclick="openSubTab(event, '{{ name }}', true); dimElem(event, 'subtablinks'); openDefault(event, '{{ name }}');">
			<img class="lozad" data-src={{ info.image }} height="125" width="125">
			<figcaption>{{ name }}</figcaption>
		</button>
		{% endfor %}
	</ul>
	{% for name,info in Items.items() %}
	<div class="subtabcontent" id='{{ name }}'>
		<center>
			<h2>{{ name }}</h2>
			<p>{{ info['description'] }}</p>
		</center>
		<ul class="subsubtab">
			{% for subname in ['Items', 'Addons'] %}
			<button class="subsubTabLinks" onclick="openSubSubTab(event, '{{ name }}-{{ subname }}Content', false)">
				<span>{{ subname }}</span>
			</button>
			{% endfor %}
		</ul>
		<div class="subsubTabContent" id="{{ name }}-ItemsContent">
			{% for rarity,items in info['versions'].items() %}
			<h3><center>{{ rarity }}</center></h3>
			<div class="flex-container-items">
				{% for item in items %}
				<div class="container-items-items">
					<img class="item-image lozad" data-src={{ item['image-alt'] }} height="80" width="80" id={{ item['item-id'] }} credit="u/ambieobambie">
					<figcaption>
						<span>{{ item['name'] }}</span>
					</figcaption>
					<div class="overlay {{ 'overlayItem' + ''.join(rarity.split()) }}">
						<div class="overlay-heading">
							<span style="font-size: 16px; font-weight: 600;">{{ item['name'] }}</span>
							<span style="font-size: 13px;">{{ rarity }}</span>
						</div>
						<div class="overlay-content">
							<p style="font-size: 15px;">{{ item['description'] }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
		<div class="subsubTabContent" id="{{ name }}-AddonsContent">
			{% for rarity,addons in info['addons'].items() %}
			<h3><center>{{ rarity }}</center></h3>
			<div class="flex-container-items">
			{% for addon in addons %}
			<div class="container-items-addons">
				<img class="addon-image lozad" data-src={{ addon['addon-image-alt'] }} draggable="true"
					ondragstart="drag(event)" id={{ addon['addon-id'] }} credit="u/ambieobambie">
				<figcaption>
					<span>{{ addon['addon-name'] }}</span>
				</figcaption>
				<div class="overlay {{ 'overlayAddon' + ''.join(rarity.split()) }}">
					<div class="overlay-heading">
						<span style="font-size: 16px; font-weight: 600;">{{ addon['addon-name'] }}</span>
						<span style="font-size: 13px;">{{ rarity }}</span>
					</div>
					<div class="overlay-content">
						<p style="font-size: 15px;">{{ addon['addon-description'] }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
<script>
	var elems = document.getElementsByClassName('overlay-content')
	for (i = 0; i < elems.length; i++) {
		elems[i].innerHTML = elems[i].innerHTML.split('\n').slice(1, -1).join('<br>');
	}
</script>
<script>
	const observer = lozad(); // lazy loads elements with default selector as '.lozad'
	observer.observe();
</script>
<script>
	document.querySelector("button[data-tab-open=default]").click()
</script>
<script type="text/javascript">
	$("[class^='container-perks'], [class^='container-addons'], [class^='container-items']").mouseenter(function(){
		var f = $(this).find('.overlay');
		var coords = f[0].getBoundingClientRect()
		var screenWidth = $(window).width();
		var screenHeight = $(window).height();
		if(coords.right > screenWidth && coords.bottom < screenHeight){
			f.addClass("shiftLeft");
			f.removeClass("shiftUp");
		}
		else if(coords.bottom > screenHeight && coords.right < screenWidth){
			f.addClass("shiftUp");
			f.removeClass("shiftLeft")
		}
		else if(coords.bottom > screenHeight && coords.right > screenWidth){
			f.addClass("shiftUp shiftLeft");
		}
		else{
			f.removeClass("shiftUp shiftLeft");
		}
	});
	$("[class^='container-perks'], [class^='container-addons'], [class^='container-items']").mouseleave(function(){
		var f = $(this).find('.overlay');
		f.removeClass("shiftLeft shiftUp");
	})
</script>
{% endblock content %}
