<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="/static/images/favicon.png" sizes="32x32" type="image/png">

	<link rel="stylesheet" type="text/css" href={{"static/style_main.css"}}>
	{% if css %}
	<link rel="stylesheet" type="text/css" href={{"static/" + css}}>
	{% endif %}

	{% if title %}
	<title>DBD Website - {{ title }}</title>
	{% else %}
	<title>DBD Website</title>
	{% endif %}

	<script type="text/javascript" src="{{ url_for('static', filename = 'functions.js') }}"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
	<div class="dropdown">
		<button class="dropbtn">
			<img class="menu-img" src="/static/images/Logo_dbd_inv.png" height="40" width="40">
			<!-- <img class="menu-img-back" src="/static/images/Logo_dbd_inv.png" height="40" width="40"> -->
		</button>
		<div class="dropdown-content">
			<a href="/">Home</a>
			<a href="/analysis">Analysis</a>
			<a href="/memes">Memes</a>
		</div>
	</div>
	<div class="page">
		{% block content %}{% endblock %}
	</div>
	<div class="loading"></div>
	<div class="empty"></div>
</body>
<script>
	var elems = document.getElementsByClassName('overlay-content')
	for (i = 0; i < elems.length; i++) {
		elems[i].innerHTML = elems[i].innerHTML.split('\n').slice(1, -1).join('<br>');
	}
</script>
<script>
	const observer = lozad(); // lazy loads elements with default selector as '.lozad'
	observer.observe();
</script>
<script>
	document.querySelector("button[data-tab-open=default]").click()
</script>
<script type="text/javascript">
	$("[class^='container-perks'], [class^='container-addons'], [class^='container-items']").mouseenter(function(){
		var f = $(this).find('.overlay');
		var coords = f[0].getBoundingClientRect()
		var screenWidth = $(window).width();
		var screenHeight = $(window).height();
		if(coords.right > screenWidth && coords.bottom < screenHeight){
			f.addClass("shiftLeft");
			f.removeClass("shiftUp");
		}
		else if(coords.bottom > screenHeight && coords.right < screenWidth){
			f.addClass("shiftUp");
			f.removeClass("shiftLeft")
		}
		else if(coords.bottom > screenHeight && coords.right > screenWidth){
			f.addClass("shiftUp shiftLeft");
		}
		else{
			f.removeClass("shiftUp shiftLeft");
		}
	});
	$("[class^='container-perks'], [class^='container-addons'], [class^='container-items']").mouseleave(function(){
		var f = $(this).find('.overlay');
		f.removeClass("shiftLeft shiftUp");
	})
</script>
</html>
